* {
    margin: 0;
    padding: 0;
}

div#wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

h1 {
    margin: 30px 0 15px 20px;
}

main.mapa {
    display: inline-block;
}

aside.clima {
    display: inline-block;
    width: 400px;
    height: 567px;
    margin-left: 40px;
}

img {
    border: 4px black ridge;    
}

article.widget {
    height: 100px;
    font-family: arial;
}

main.mainIcono {
    display: inline-block;
    width: 125px;
}

aside.valores {
    display: inline-block;
}

aside.valores span {
    margin: 0 10px;
    padding: 5px 10px;
}

span.tempMax {
    background-color: #f0ad4e;
    color: white;
    font-size: small;
}


span.tempMin {
    background-color: #999999;
    color: white;
    font-size: small;
}

span.leyenda {
    font-style: italic;
}
