* {
    margin: 0;
    padding: 0;
}

body {
    background: url(img/Background.jpg);
}

div#wrapper {
    max-width: 1152px;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    margin: 30px 0 15px 20px;
}

h2 {
    margin-bottom: 5px;
}

h1, h2 {
    color: #f6d25a;
    font-family: Tahoma;
}

main.mapa {
    display: inline-block;
}

area {
    outline: none;
}

aside.clima {
    display: inline-block;
    width: 550px;
    height: 567px;
    margin-left: 20px;
    vertical-align: top;
}

img {
    border: 4px black ridge;    
}

div.widget {
    font-family: arial;
    background-color: #e9eaec;
    margin: 0 0 2px 0;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

div.mainIcono {
    display: inline-block;
    width: 135px;
    height: 50px;
    padding-top: 20px;
    font-weight: bold;
    color: graytext;
}

div.valores {
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
}

div.valores > div {
    margin: 10px 0 5px 10px;
}

div.temperaturas > span {
    margin-right: 5px;
    padding: 5px 10px;
}

div.temperaturas > span:last-child {
    margin: 0;
    padding-left: 0;
}

span.tempMax, span.tempMin {
    color: white;
    font-size: small;
    border-radius: 5px;
}

span.tempMax {
    background-color: #f0ad4e;
}


span.tempMin {
    background-color: #999999;
}

span.leyenda {
    font-style: italic;
}
