* {
    margin: 0;
    padding: 0;
}

div#wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    margin: 30px 0 15px 20px;
}

main.mapa {
    display: inline-block;
}

aside.clima {
    display: inline-block;
    width: 400px;
    height: 567px;
    margin-left: 20px;
    vertical-align: top;
}

img {
    border: 4px black ridge;    
}

div.widget {
    font-family: arial;
    margin: 0;
    padding: 0 5px 0 0;
    border: 2px solid black;
}

div.mainIcono {
    display: inline-block;
    width: 135px;
}

div.valores {
    display: inline-block;
    vertical-align: middle;
}

div.valores > div {
    padding: 5px 0 0 20px;
}

div.temperaturas > span {
    margin: 0 10px 0 0;
    padding: 5px 10px;
}

div.temperaturas > span:last-child {
    margin: 0;
    padding-left: 0;
}

span.tempMax, span.tempMin {
    color: white;
    font-size: small;
    border-radius: 10%;
}

span.tempMax {
    background-color: #f0ad4e;
}


span.tempMin {
    background-color: #999999;
}

span.leyenda {
    font-style: italic;
}
